<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <title>זיגי - <%= yield(:title) %></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/favicon.ico" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>  <%= stylesheet_link_tag    "widgets", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= google_analytics_header %>
</head>
<body>
<%= yield %>
<%= javascript_include_tag "widgets" %>
</body>
</html>
